* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: url(./0.jpg) center center fixed;
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

h1 {
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 2px black;
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 4rem;
  }
}

/* inputs container */
.input-container {
  padding: 10px;
  width: 400px;
  margin: 10px auto;
}

/* color input, line tickness, slider */
.input {
  height: 30px;
  font-size: 1.3rem;
}

#adjust {
  margin-top: 30px;
}

.choose-color {
  font-size: 1rem;
}

.actual-color {
  font-size: 1rem;
}

#tickness-input {
  position: relative;
  margin: 10px;
}

#circle {
  padding: 2px;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: black;
  margin: 30px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#slider {
  width: 300px;
  margin: 5px auto;
}

/* canvas container */
#canvas-container {
  width: 402px;
  height: 602px;
  border: 1px solid black;
  margin: 20px auto;
}

#paint {
  background-color: #fff;
  cursor: crosshair;
}

/* buttons */
.buttons-container {
  width: 400px;
  height: 200px;
  margin: 20px auto;
}

.buttons {
  width: 133px;
  color: #5bb4e7;
  font-size: 1.3rem;
  float: left;
}

.button {
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: linear-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: 50px;
  position: relative;
}

.button:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: linear-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.button:active {
  top: 4px;
}

.eraseMode {
  background: red;
  color: white;
}

footer {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
}
